.reveal section img {
    border: none;
    background: none;
    box-shadow: none;
    margin: 0;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex img {
    width: 30%;
}
